html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
	background-color: #5252ff;
}

iframe {
    height: 100vh !important;
    border: none;
    width: 100%;
    margin: 0 auto;
  }
  
.graphic {
	display: block;
	position: absolute;
	left: 50%;
	background-repeat: no-repeat;
	background-origin: content-box;
}

.graphic.logo {
	margin: auto;
	/* width: 20vw; */
	background-image: url('https://cacheaction.github.io/catskill/img/faster_gift.gif');
	width: 20vw;
	/* height: 4.368vw; */
	/* top: 11.96vw; */
	z-index: 999;
}