A:link { 
	/* text-decoration: underline;  */
	color: black; 
}

A:visited { 
	/* text-decoration: underline;  */
	color: purple; 
}

A:active { 
	text-decoration: underline; 
	color: white; 
}

A:hover { 
	text-decoration: underline; 
	color:#0000ff;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll-y;
	/* background-color: #5252ff; */
	background-image: url('https://cacheaction.github.io/catskill/img/catskills.jpg')
}

/* iframe { */
    /* display: block; */
	/* height: 70vh !important; */
    /* border: none; */
    /* width: 90vw; */
	/* margin-left: 5vw; */
	/* margin-right: 5vw; */
  /* } */
  
iframe {
	display: block;
	width: 100%;
	max-width: 1200px;
	height: 200vw;
	border: none;
	margin: 0 auto;
	padding: 1rem 1rem;
	box-sizing: border-box;
	overflow: hidden;
}

.banner {
	display: block;
	width: 164vw;
	/* max-width: 1200px; */
	height: 7.5vw;
	background-image: url('https://cacheaction.github.io/catskill/img/maybanner.png');
	background-size: 41vw 7.5vw; /*820 312*/
	scroll-snap-align: start;
}


/* @media (max-width: 600px) { */
	/* iframe { */
		/* max-width: 100%; */
		/* padding: 0 0.5rem; */
	/* } */
/* } */

 
.content {
	display: block;
	height: 25vh;
}
  
.graphic {
	display: block;
	position: relative;
	width: 100%;
	left: 50%;
	background-repeat: no-repeat;
	background-origin: content-box;
}

.graphic.logo {
	background-image: url('https://cacheaction.github.io/catskill/img/faster_gift.gif');
	background-size: 30vh 12vh;
	width: 100%;
	height: 12vh;
	/* max-height: 20vh; */
	margin-left: -15vh;
	z-index: 999;
}

#navigation-panel {
	margin: 1rem auto 0 auto;
	/* padding: 0 1rem; */
	width: 100%;
	max-width: 1200px; /* or whatever looks best */
	box-sizing: border-box;
	margin-bottom: 1rem; /* creates breathing room */
}


#nav-table {
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 50%;
	/* padding: 0.5rem; */
	word-wrap: break-word;
	td, th { /* table cells */
		padding: 5px;
	}
}

@media (max-width: 600px) {
	#nav-table tr {
		display: flex;
		flex-wrap: wrap;
	}
	#nav-table td {
		flex: 0 0 50%; /* Two per row */
		box-sizing: border-box;
		td, th { /* table cells */
			padding: 5px;
		}
	}
	iframe {
		max-width: 100%;
		height: 200vw;
		padding: 0.5 0.5rem;
		box-sizing: border-box;
	}
	
	.graphic.logo {
	background-image: url('https://cacheaction.github.io/catskill/img/faster_gift.gif');
	background-size: 15vh 6vh;
	width: 100%;
	height: 6vh;
	/* max-height: 20vh; */
	margin-left: -7.5vh;
	z-index: 999;
	}
	.banner {
		width: 328vw;
		height: 15vw;
		background-size: 42vw 15vw;
	}
	#container .scroll {
		width: 328vw;
	}
}
}

#container {
	white-space: nowrap;
	background: #000;
	color: #fff;
}

#container .scroll {
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 164vw;
	white-space: nowrap;
	animation: loop 20s linear infinite;
}

@keyframes loop {
	0% {transform: translateX(0vw);}
	100% {transform: translateX(-25vw);}
}